doctype
html
  head
    title Convohelper
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript")
    script(src="https://use.fontawesome.com/43981f4302.js")
    script(src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js")  
    script(src="convohelper/javascripts/pusherEvents.js" type="text/javascript")
    script(src="convohelper/javascripts/sentences.js" type="text/javascript")

    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css")
    link(rel="stylesheet" href="convohelper/stylesheets/custom.css") 

  body
    div(class="flex-container")
      div(class="header")
        p(class="logo") Convohelper
        img(src="convohelper/images/home-button.png" class="home-button")    
      div(id="modal1" class="modal")
        div(class="modal-footer")
          a(href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat") X
        div(class="modal-content")
          h4(id="prompt")
          p(id="text-to-say")
      div(class="buttons")
        <button type="button" class="btn-talk contribute">Say Something</button>
        <button type="button" class="btn-talk agree">Agree</button>
        <button type="button" class="btn-talk disagree">Disagree</button>
        <button type="button" class="btn-talk confirm">Confirm</button>
        <button type="button" class="btn-talk clarify">Clarify</button>
        <button type="button" class="btn-talk review">Review</button>
      footer
        p powered by <a href="https://pusher.com/">Pusher</a>
