doctype
html
  head
    title Convohelper
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" type="text/javascript")
    script(src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript")   
    script(src="static/convohelper/javascripts/indexEvents.js" type="text/javascript")

    link(rel="stylesheet" href="static/convohelper/stylesheets/custom.css") 

  body
    div(class="flex-container")
      div(class="header")
        p(class="logo") Convohelper
        img(src="static/convohelper/images/home-button.png" class="home-button")      
      div(class="info")
        h5 
          | enter a Group PIN to join
          br
          | or generate a new one
      div(class="input-group entry")
        input(type="text" id="pin-input" class="form-control enter-pin" placeholder="enter PIN")
        span(class="input-group-btn")
          <button class="btn-join" type="button">Join</button> 
      div(class="input-group generate-button")
        div(class="input-group-btn")
          h2 generate PIN for how many groups?
          select(id="selection")
            option(id="none") #
            option(value="3") 3 groups
            option(value="4") 4 groups
            option(value="5") 5 groups
            option(value="6") 6 groups
      div(class="group_pin")
      footer
        p powered by <a href="https://pusher.com/">Pusher</a>
