html, body {
	max-height: 98vh;
	background: #F8D970;
}

.header {
	background: #000000;
	color: #F8C170;
	top: 0;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    align-items: center;
}

.messages_display {
	min-height: 40vh;
}

.messages_display .message_item {
	padding: 0; margin: 0;
}       

.enter-pin {
	text-align: center;
}

.flex-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	background-color: #F8D970;
	font-family: Georgia;
}

.info {
	text-align: center;
	justify-content: space-between;
	order: 1;
}

.entry {
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: center;
	justify-content: center;
	order: 2;
	text-align: center;
}

.generate-button {
	text-align: center;
	min-height: 4em;
	flex-direction: column;
	-webkit-flex-direction: column;
	display: flex;
	display: -webkit-flex;
	order: 3;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	align-items: center;
	-webkit-align-items: center;
}

#pin-input {
	border-radius: .3em 0 0 .3em;
}

.btn-join {
	border-radius: 0 .3em .3em 0;
}

#selection, .btn-talk {
	border-radius: .3em;
}

#selection, .btn-join, .btn-talk {
	background-color: #B19023;
}

.btn-talk {
	margin: .25em;
}

.btn-secondary {
	max-width: 55%;
}

.group_pin {
	max-width: 95%;
	flex-wrap: wrap;
	order: 4;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-direction: column;
	flex-flow: row wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.buttons {
    display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	align-items: center;
}

footer {
	order: 5;
	text-align: center;
}

@media only screen and (max-width:767px) {

	.info {
		-webkit-justify-content: center;
		justify-content: center;
	}

	.header {
		max-height: 2em;
	}

	.header p {
		font-size: 1.2rem;
	}

	.home-button {
		width: 5vh;
		height: 5vh;
	}

	.info {
		margin-top: 1em;
		font-size: 1.2rem;
	}

	.info h5 {
		margin: 0.5em;
	}

	.generate-button h2 {
		margin: 0.2em 0 0.5em 0;
	}

	.group_pin {
		min-height: 8em;
	}

	#selection, .btn-join, #pin-input, .btn-talk {
		font-size: 1.2rem;
	}

	.pin-code {
		margin: 0.5em;
		font-size: 1.2rem;
	}

	.buttons {
		margin-top: 5em;
	}

	.btn-talk {
		font-size: 1.6rem;
	}

	.modal {
		min-height: 25em;
	}

	.btn-flat {
		font-size: 1.5rem;
	}

	#prompt {
		font-size: 2.4rem;
	}

	#text-to-say {
		font-size: 1.8rem;
	}

	footer {
		font-size: 1.5rem;
	}

	footer p {
		margin-top: 0.75em;
		padding: 0;
	}

}


@media only screen and (min-width:768px) {
	

	.info {
		font-size: 3rem;
		margin-top: 1em;
		justify-content: center;
	}

	.info h5 {
		margin: 0.5em;
	}

	.home-button {
		width: 5vh;
		height: 5vh;
	}

	.header {
		max-height: 4em;
	}

	.header p {
		font-size: 2rem;
	}

	#selection, .btn-join, #pin-input, .btn-talk {
		font-size: 2rem;
	}

	.group_pin {
		padding: 1em;
		min-height: 3.5em;
	}

	.pin-code {
		margin: 0 1em 0 1em;
		font-size: 2.8rem;
	}

	.buttons {
		margin-top: 6em;
	}

	.modal {
		min-height: 15em;
	}

	.btn-flat {
		font-size: 2.5rem;
	}

	#prompt {
		font-size: 3rem;
	}

	#text-to-say {
		font-size: 2.5rem;
	}

	footer {
		font-size: 3.5rem;
	}

}